
</div>
<footer style="margin-bottom: 0; height: 20vh;">
    <div class="integrantes" style="background-color: #444; bottom: 0; padding: 2%;">
        <h3 style="font-size: 20px; color: white;">
            <div style="display: block; margin: 0, 15%; text-align: center;">
                    <div style="display: inline-block; margin-right: 11.3%;">• Agustin Angelilli</div>
                    <div style="display: inline-block;">• Damian Cesar</div>
            </div>
            <div style="display: block; margin: 0, 0, 0, -10%; text-align: center;">
                <div style="display: inline-block; margin-right: 15%;">• Ana Yapura</div>
                <div style="display: inline-block;">• Elias Behar</div>
            </div>
            <div style="display: block; text-align: center; font-size: 20px; margin-top: 20px;">Codo a Codo 2023 - Full Stack Python</div>
        </h3>
    </div>
</footer>

</body>
</html>