<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Inicio</title>
</head>
<body>
    Hola Flask!
</body>
</html>


<form method="get" action="" enctype="multipart/form-data">
    Nombre del producto:
    <input type="text" name="nombreProducto" id="nombreProducto">
    <br>
    Precio del Producto:
    <input type="text" name="precioProducto" id="precioProducto">
    <br>
    Fotografia del Producto:
    <input type="file" name="fotoProducto" id="fotoProducto">
    <br>
    <br>
    <input type="submit" value="Agregar">
</form>



<table class="table table-light">
    <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>Fotografia</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Acciones</th> <!--interaccion con la BD-->
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %} <!--jfor de jinja2 -> motor de templates-->
        <tr>
            <td>{{producto[0]}}</td> <!--numero del registro-->
            <td>{{producto[3]}}</td> <!--Fotografia deñ registro-->
            <td>{{producto[1]}}</td> <!--producto del registro-->
            <td>{{producto[2]}}</td> <!--precio del registro-->
            <td>Editar | 
                <a href="/destroy/{{producto[0]}}">Borrar</a>
                </td> <!--acciones del registro-->
        </tr> 
        {% endfor %}
        
    </tbody>
</table>



{% for producto in productos %}
<form method="post" action="/update" enctype="multipart/form-data">
    Nombre del producto:
    <input type="text" value="{{producto[0]}}" name="txtId" id="txtId">
    <br>
    <input type="text" value="{{producto[1]}}" name="nombreProducto" id="nombreProducto">
    <br>
    Precio del Producto:
    <input type="text" value="{{producto[2]}}" name="precioProducto" id="precioProducto">
    <br>
    Fotografia del Producto:
    {{producto[3]}}
    <input type="file"  name="fotoProducto" id="fotoProducto">
    <br>
    <br>
    <input type="submit" value="Guardar">
</form>
{% endfor %}


{% include '.html' %}

<img src="uploads/{{producto[3]}}" alt="">

<img class="img-thumbnail" src="" alt="">


<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a class="navbar-brand">CRUD CaC FullStack Python 23022</a>
        <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
CRUD CaC FullStack Python 23022</button>
        <div id="my-nav" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Item 1 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Item 2</a>
                </li>
            </ul>
        </div>
    </nav>
</header>


<a href="{{url_for('create')}}"></a>


<div class="card">
    <div class="card-header">
        Header
    </div>
    <div class="card-body">
        <h5 class="card-title">Title</h5>
        <p class="card-text">Content</p>
    </div>
</div>


<div class="card">
    <div class="card-header">
        Header
    </div>
    <div class="card-body">
        <h5 class="card-title">Title</h5>
        <p class="card-text">Content</p>
    </div>
</div>

<div class="form-group">
    <label for="my-input">Text</label>
    <input id="my-input" class="form-control" type="text" name="">
</div>



<footer>
    <div class="integrantes" style="background-color: black;">
        <h3 style="font-size: 20px; color: white;">
            
            <div>• Agustin Angelilli   • Damian Cesar</div>
            <div>• Ana Yapura          • Elias Behar</div>
            <div>Codo a Codo 2023 - Full Stack Python</div>
        </h3>
    </div>
</footer>